<html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="page-topic" content="TigerJython, Schule, Programmieren">
    <meta name="description" content="WebTigerJython ist eine kostenlose, webbasierte Entwicklungsumgebung für Python,
     welche sich besonders für Anfänger eignet.">
    <meta name="keywords" lang="“de“" content="Python, programmieren, turtlegrafik, lehrmittel">
    <meta name="keywords" lang="“en-us“" content="Python, coding, turtle, IDE">
    <link rel="icon" href="/assets/images/favicon.png">
    <title>WebTigerJython</title>


    <!-- Materialize -->
    <!-- Compiled and minified CSS, custom css file: see materialize.scss
        To generate:
        $ sass web/stylesheets/materialize/materialize.scss web/stylesheets/materialize/materialize.css
        $ uglifycss web/stylesheets/materialize/materialize.css > web/stylesheets/materialize/materialize.min.css
        use div element with class="materialize" to leverage materialize
        TODO theme to Materialize?-->
    <link rel="stylesheet" href="/assets/wtj/stylesheets/materialize/materialize.min.css">
    <!-- Google Icons TODO local or just use flaticons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/assets/wtj/stylesheets/content.css">
    <link rel="stylesheet" href="/assets/wtj/stylesheets/menu.css">
    <link rel="stylesheet" href="/assets/wtj/stylesheets/gpanel.css">
    <link rel="stylesheet" href="/assets/wtj/stylesheets/debugger.css">

{% include '../include/wtj-head.twig' %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HJR10WMWYN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HJR10WMWYN');
</script>
</head>
<body>
{% include '../include/wtj-first.twig' %}
<!-- Lodash cloneDeep-->
<script type="text/javascript" src="/assets/wtj/javascripts/lodash/lodash.js"></script>
<!-- Tobias Kohn's Parser -->
<script type="text/javascript" src="/assets/wtj/javascripts/tigerjython-parser/tpyparser-opt.js"></script>
<!-- FloodFill https://github.com/binarymax/floodfill.js/ -->
<script type="text/javascript" src="/assets/wtj/javascripts/floodfill/floodfill.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/assets/wtj/javascripts/jquery/jquery.min.js"></script>
<!-- SweetAlert -->
<script type="text/javascript" src="/assets/wtj/javascripts/sweetalert2/sweetalert2.all.min.js" charset="utf-8"></script>
<!-- Materialize -->
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="/assets/wtj/javascripts/materialize/materialize.min.js" charset="utf-8"></script>
<!-- SQLite -->
<script type="text/javascript" src="/assets/wtj/javascripts/sqljs-all/sql-wasm-debug.js"></script>
<!-- Skulpt -->
<script type="text/javascript" src="/assets/wtj/javascripts/skulpt/skulpt.min.js"></script>
<script type="text/javascript" src="/assets/wtj/javascripts/skulpt/skulpt-stdlib.js"></script>
<!-- Ace Editor -->
<script type="text/javascript" src="/assets/wtj/javascripts/ace/ace.js" charset="utf-8"></script>
<!-- FileSaver -->
<script type="text/javascript" src="/assets/wtj/javascripts/save/fileSaver.min.js" charset="utf-8"></script>
<!-- Split -->
<script type="text/javascript" src="/assets/wtj/javascripts/split/Split.js" charset="utf-8"></script>
<!-- PapaParse -->


<!-- WebTigerJython -->
<script type="text/javascript" src="/assets/wtj/javascripts/webtigerjython/functions-compiled.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/wtj/javascripts/webtigerjython/debuggerView-compiled.js" charset="utf-8"></script>






<!-- Menu bar -->
<ul>
    <li id="logo-img">
        <div class="logo-container">
            <img class="img" src="/assets/wtj/img/TigerJython.png">
        </div>
    </li>
    <li id="logo-name">WebTigerJython</li><li id="logo-v2">CLOUD by BT</li>

    <li onclick="runProgram()" data-translate="start-button-hover" title="Start">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/start.png">
        </div>
    </li>
    <li onclick="runModalProgram()" data-translate="start-modal-button-hover" title="Start Vollbild">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/start-modal.png">
        </div>
    </li>
    <li onclick="stopProgram()" data-translate="stop-button-hover" title="Stop">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/stop.png">
        </div>
    </li>
    <li onclick="debugProgram()" data-translate="debug-button-hover" title="Debug" id="dbgStart" style="display: none;">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/debug-button.svg">
        </div>
    </li>
    <li onclick="debugProgram(true)" data-translate="debug-step-mode-button-hover" title="Debug in Step Mode" id="dbgStepStart" style="display: none;">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/debug-step-mode-button.svg">
        </div>
    </li>

    <li onclick="dbg.dbgStepBack()" data-translate="backward-button-hover" title="StepBackward" id="dbgStepBack" style="display: none;">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/left-button.svg">
        </div>
    </li>

    <li onclick="dbg.dbgStepFwd()" data-translate="forward-button-hover" title="StepForward" id="dbgStepFwd" style="display: none;">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/right-button.svg">
        </div>
    </li>

    <li onclick="dbg.dbgContinue()" data-translate="continue-button-hover" title="Continue" id="dbgContinue" style="display: none;">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/continue-button.svg">
        </div>
    </li>

    <li class="dropdown">
        <div class="button-container">
            <img class="img" src="/assets/wtj/img/menu.png">
        </div>
        <div class="dropdown-content">
            <div id="language-button" class="dropdown-container" onclick="openLanguageSwitcher()">
                <img id="language-image" class="option-img" src="/assets/wtj/img/langDE.png">
                <p id="language-text" data-translate="options-current-language">Deutsch</p>
                <div id="language-switch" style="display: none;">
                    <div class="dropdown-container-lang" onclick="setDE()">
                        <img class="option-img" src="/assets/wtj/img/langDE.png">
                        <p>Deutsch</p>
                    </div>
                    <div class="dropdown-container-lang" onclick="setFR()">
                        <img class="option-img" src="/assets/wtj/img/langFR.png">
                        <p>Français</p>
                    </div>
                    <div class="dropdown-container-lang" onclick="setIT()">
                        <img class="option-img" src="/assets/wtj/img/langIT.png">
                        <p>Italiano</p>
                    </div>
                    <div class="dropdown-container-lang" onclick="setEN()">
                        <img class="option-img" src="/assets/wtj/img/langEN.png">
                        <p>English</p>
                    </div>
                    <div class="dropdown-container-lang" onclick="setRU()">
                        <img class="option-img" src="/assets/wtj/img/langRU.png">
                        <p>Русский</p>
                    </div>
                </div>
            </div>
            <div id="fullscreen-button" class="dropdown-container" onclick="toggleFullScreen()">
                <img id="fullscreen-image" class="option-img" src="/assets/wtj/img/expand.png">
                <p id="fullscreen-text" data-translate="options-fullscreen">Vollbild</p>
            </div>
            <div id="python-version-button" class="dropdown-container">
                <img id="python-version-image" class="option-img" src="/assets/wtj/img/python.png">
                <p id="python-version-text">Python 3</p>
                <label class="toggle"> <input id="toggleswitch" type="checkbox"> <span class="roundbutton"></span>
                </label>
            </div>
            <div id="debug-mode-button" class="dropdown-container">
                <img id="debug-mode-image" class="option-img" src="/assets/wtj/img/debug-button.svg">
                <p data-translate="options-debug">Debug</p>
                <label class="toggle"> <input id="debugswitch" type="checkbox"> <span class="roundbutton"></span>
                </label>
            </div>
            <div id="save-image-button" class="dropdown-container">
                <img class="option-img" src="/assets/wtj/img/photo.png">
                <p data-translate="options-image-save">Bild speichern</p>
            </div>
            <div id="save-button" class="dropdown-container">
                <img class="option-img" src="/assets/wtj/img/save.png">
                <p data-translate="options-program-save">Programm speichern</p>
            </div>
            <div id="load-button" class="dropdown-container">
                <img class="option-img" src="/assets/wtj/img/open.png">
                <p data-translate="options-program-load">Programm öffnen</p>
            </div>
            <div id="export-db-button" class="dropdown-container">
                <img class="option-img" src="/assets/wtj/img/save.png">
                <p data-translate="options-export-db-table">Datenbank Exportieren</p>
            </div>
            <div id="import-db-button" class="dropdown-container">
                <img class="option-img" src="/assets/wtj/img/open.png">
                <p data-translate="options-import-db-table">Datenbank Importieren</p>
            </div>
            <div id="info-button" class="dropdown-container" onclick="openInformation()">
                <img class="option-img" src="/assets/wtj/img/info.png">
                <p data-translate="options-information">Informationen</p>
            </div>
        </div>
    </li>
</ul>

<!-- Editor, Canvas and Output -->
<div id="content" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
    <div id="editor" class="split split-horizontal"></div>
    <div id="right-content" class="split split-horizontal">
        <div id="mycanvas"></div> <!-- for turtle graphics -->
        <div id="modal">
            <a data-translate="modal-close-button" title="Schliessen" class="close">X</a>
            <div id="mycanvas-modal"></div>
        </div>
        <div id="output"></div>
    </div>
</div>

<script type="text/javascript" src="/assets/wtj/javascripts/webtigerjython/dictionary-compiled.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/wtj/javascripts/webtigerjython/initialization-compiled.js" charset="utf-8"></script>

<script type="text/javascript">

    // Detect if Internet Explorer is used and display an error message
    // (We have to detect this here because IE is not able to run it inside an imported script)
    if (navigator.userAgent.indexOf('MSIE ') !== -1 || navigator.userAgent.indexOf('Trident/') !== -1) {
        // MSIE -> IE 10 or older
        // Trident -> IE 11

        // Retrieve error message in the browser language
        let language = navigator.language.toLowerCase();
        let errorMsg = dictionary.en["error-msg-ie"];
        if (language.indexOf("de") !== -1) {
            errorMsg = dictionary.de["error-msg-ie"];
        } else if (language.indexOf("fr") !== -1) {
            errorMsg = dictionary.fr["error-msg-ie"];
        } else if (language.indexOf("it") !== -1) {
            errorMsg = dictionary.it["error-msg-ie"];
        }
        document.getElementsByTagName('body')[0].innerHTML = errorMsg;
    }

</script>


{% include '../include/wtj-last.twig' %}
</body></html>